{% include "../manage/meta.html" %}
<title>用户管理</title>
<meta name="keywords" content="uniphp">
<meta name="description" content="uniphp,轻量级php框架.">
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 
		<form action="" method="post">
			<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话" id="" name="key">
			<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="data_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="member_add('添加用户','/manage/member/add','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <span class="r">共有数据：<strong>{{count}}</strong> 条</span> </div>
	<h4>默认密码为：<b>123456</b></h4>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="all" value=""></th>
				<th width="80">ID</th>
				<th width="100">用户名</th>
				<th width="40">性别</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="">地址</th>
				<th width="130">加入时间</th>
				<th width="70">状态</th>
				<th width="70">认证</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{% for item in member %}
			<tr class="text-c">
				<td><input type="checkbox" class="all" value="{{item.id}}" name=""></td>
				<td>{{item.id}}</td>
				<td>{{item.username}}</td>
				<td>
					{% if item.sex==1 %}
						男
					{% elif item.sex==2 %}
					  女
					{% else %}
					  未知
					{% endif %}
				</td>
				<td>{{item.phone}}</td>
				<td>{{item.email}}</td>
				<td class="text-l">
					{% if item.sheng!="请选择" or item.shi!="请选择" or item.xian!="请选择" or item.address %}
						{{item.sheng}}  {{item.shi}}  {{item.xian}}  {{item.address}}
					{% else %}
						暂未填写
					{% endif %}
				</td>
				<td>{{ (item.up_time*1000) | utc }}</td>
				<td class="td-status">
					{% if item.isopen==1 %}
						<span class="label label-success radius">已启用</span>
					{% else %}
						<span class="label label-default radius">已禁用</span>
					{% endif %}
				</td>
				<td class="td-status">
						{% if item.state==1 %}
							<span class="label label-success radius">已认证</span>
						{% else %}
							<span class="label label-default radius">未认证</span>
						{% endif %}
					</td>
				<td class="td-manage">
					{% if item.isopen==1 %}
					<a style="text-decoration:none" onClick="member_stop(this,{{item.id}})" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> 
					{% else %}
					<a onClick="member_start(this,{{item.id}})" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>
					{% endif %}
					<a title="编辑" href="javascript:;" onclick="member_edit('编辑','/manage/member/edit?id={{item.id}}','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
					<a style="text-decoration:none" class="ml-5" onClick="change_password('修改密码','/manage/member/password?id={{item.id}}','10001','600','270')" href="javascript:;" title="修改密码"><i class="Hui-iconfont">&#xe63f;</i></a> 
					<a title="删除" href="javascript:;" onclick="member_del(this,{{item.id}})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ html | safe}}
	<style>
		#page{
			padding: 20px 0 0 20px;
		}
		#page a{
			display: inline-block;
			padding: 3px 5px;
			font-size: 16px;
			margin: 0 5px;
			border: 1px solid #f1f1f1;
		}
		#page a:hover,#page .xuan{
			background:#32CD32;
			color: #ffffff;
		}
	</style>
	</div>
</div>
{% include "../manage/footer.html" %}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/manage/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="/static/manage/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/static/manage/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}

/*管理员-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.post(
			"/manage/member/ajax",
		{
			id:id,
			type:'member_stop',
		},
		function(result){
	        if(result.errno!=0){
	        	layer.msg('停用失败!',{icon: 5,time:1000});
	        }else{
	        	$(obj).parents("tr").find(".td-manage").prepend('<a onClick="member_start(this,{ $vo.id}) href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
	        }
	    });	
	});
}

/*管理员-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.post(
			"/manage/member/ajax",
		{
			id:id,
			type:'member_start',
		},
		function(result){
	        if(result.errno!=0){
	        	layer.msg('启动失败!',{icon: 5,time:1000});

	        }else{
	        	$(obj).parents("tr").find(".td-manage").prepend('<a onClick="member_stop(this,{ $vo.id}) href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!', {icon: 6,time:1000});
	        }
	    });
	});
}

/*管理员-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		$.post(
			"/manage/member/ajax",
		{
			id:id,
			type:'member_del',
		},
		function(result){
	        if(result.errno!=0){
	        	layer.msg('删除失败!',{icon: 5,time:1000});
	        }else{
	        	$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
	        }
	    });	
	});
}
/*自己编写管理员-批量删除*/
function data_del(){
	var arr= new Array();
	$("input[type='checkbox']:gt(0):checked").each(function(){
    	arr.push($(this).attr("value"));
 });
   if(arr.length<1){
    layer.msg('至少选择一个',{icon:5,time:1000});
   }else{
	   	layer.confirm('确认要删除吗？',function(index){
			$.post(
				"/manage/member/ajax",
			{
				id:arr.join('-'),
				type:'member_all',
			},
			function(result){
				//console.log(result)
		        if(result.errno!=0){
		        	layer.msg('批量删除失败!',{icon: 5,time:1000});
		        }else{
					layer.msg('批量删除成功!',{icon:1,time:1000});
					history.go(0);
		        }
		    });	
		});
   }
}
</script> 
</body>
</html>