<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/member/index" data-title="会员列表" href="javascript:;">会员列表</a>
					</li>
					<li>
						<a data-href="/manage/member/shan" data-title="删除的会员" href="javascript:;">删除的会员</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe653;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<!-- <li>
						<a data-href="<?php echo u('AuthGroup','index'); ?>" data-title="角色管理" href="javascript:void(0)">角色管理</a>
					</li>
					<li>
						<a data-href="<?php echo u('AuthRule','index'); ?>" data-title="权限管理" href="javascript:void(0)">权限管理</a>
					</li> -->
					<li>
						<a data-href="/manage/admin/index" data-title="管理员列表" href="javascript:void(0)">管理员列表</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/system/list" data-title="设置管理" href="javascript:void(0)">设置管理</a>
					</li>
					<li>
						<a data-href="/manage/system/index" data-title="系统设置" href="javascript:void(0)">系统设置</a>
					</li>
					<li>
						<a data-href="/manage/system/shield" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><a data-href="/manage/admin/log" data-title="登陆日志" href="javascript:void(0)"><i class="Hui-iconfont">&#xe645;</i> 登陆日志</a></dt>
		</dl>
		<dl id="menu-admin">
			<dt><a data-href="/manage/admin/cahe" data-title="清除缓存志" href="javascript:void(0)"><i class="Hui-iconfont">&#xe60b;</i> 清除缓存志</a></dt>
		</dl>
	</div>
	<div class="menu_dropdown bk_2" style="display:none">
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe681;</i> 栏目管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/cate/index" data-title="栏目管理" href="javascript:void(0)">栏目管理</a>
					</li>
				</ul>
			</dd>
		</dl>
		
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/article/index" data-title="资讯管理" href="javascript:void(0)">资讯管理</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe6f1;</i> 友情链接<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/link/index" data-title="链接管理" href="javascript:void(0)">链接管理</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/slide/index" data-title="幻灯片管理" href="javascript:void(0)">幻灯片管理</a>
					</li>
					<li>
						<a data-href="/manage/adposition/index" data-title="广告管理" href="javascript:void(0)">广告管理</a>
					</li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/comment/index" data-title="评论列表" href="javascript:;">评论列表</a>
					</li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe68a;</i> 留言管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li>
						<a data-href="/manage/message/index" data-title="留言列表" href="javascript:;"> 留言列表</a>
					</li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>