{% include "../manage/meta.html" %}
<title>系统配置列表 - 系统配置管理</title>
<meta name="keywords" content="uniphp">
<meta name="description" content="uniphp,轻量级php框架.">
</head>
<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		系统管理
		<span class="c-gray en">&gt;</span>
		设置管理
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form action="" method="post">
				<input type="text" name="key" id="" placeholder="系统配置中文名称" style="width:450px" class="input-text">
				<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜配置</button>
				</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a href="javascript:;" onclick="catesort()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 更新排序</a> 
				<a class="btn btn-primary radius" data-title="添加系统配置" _href="article-add.html" onclick="article_add('添加系统配置','/manage/system/add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加系统配置</a>
				</span>
				<span class="r">共有数据：<strong>{{count}}</strong> 条</span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="25">ID</th>
							<th >排序</th>
							<th width="70">中文名称</th>
							<th width="70">英文名称</th>
							<th width="100">配置类型</th>
							<th width="150">配置可选项</th>
							<th width="200">配置说明</th>
							<th width="80">操作</th>
						</tr>
					</thead>
					<tbody>
						{% for item in member %}
						<tr class="text-c">
							<td>{{item.id}}</td>
							<td style="width: 30px;"><input type="text" name="{{item.id}}" class="input-text lizhi" value="{{item.sort}}"></td>
							<td class="text-l">{{item.cnname}}</td>
							<td class="text-l">{{item.enname}}</td>
							<td>
								{% if item.type==1 %}
									单行文本
								{% elif item.type==2 %}
									多行文本
								{% elif item.type==3 %}
									单选框
								{% else %}
								  未知
								{% endif %}
							</td>
							<td>{{item.kxvalue}}</td>
							<td>{{item.desc}}</td>
							<td class="f-14"><a title="编辑" href="javascript:;" onclick="system_category_edit('友情链接编辑','/manage/system/edit?id='+{{item.id}},'1','700','480')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
							{% if item.st!=1 %}
								<a title="删除" href="javascript:;" onclick="article_del(this,{{item.id}})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
							{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{{ html | safe}}
				<style>
					#page{
						padding: 20px 0 0 20px;
					}
					#page a{
						display: inline-block;
						padding: 3px 5px;
						font-size: 16px;
						margin: 0 5px;
						border: 1px solid #f1f1f1;
					}
					#page a:hover,#page .xuan{
						background:#32CD32;
						color: #ffffff;
					}
				</style>
			</div>
		</article>
		
	</div>

	{% include "../manage/footer.html" %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/manage/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/manage/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/manage/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

/*系统配置-添加*/
function article_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*系统配置-编辑*/
function system_category_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*系统配置-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post(
			"/manage/system/ajax",
		{
			id:id,
			type:'system_del',
		},
		function(result){
	        if(result.errno!=0){
	        	layer.msg('删除失败!',{icon: 5,time:1000});
	        }else{
	        	$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
	        }
	    });	
	});
}

//自己编写更新排序

function catesort(){
	layer.confirm('确认要更新排序吗？',function(index){	
	 	var x=document.getElementsByClassName("lizhi");
	 	var sortarr= new Array();
	 	var idarr= new Array();
	 	for(var i=0;i<x.length;i++){
	 		sortarr.push(x[i].value);
	 		idarr.push(x[i].name);
	 	}
		$.post(
			"/manage/system/ajax",
		{
			'sort':sortarr.join('-'),
			'id':idarr.join('-'),
			type:'system_sort',
		},
		function(result){
			//console.log(result);
	        if(result.errno!=0){
	        	layer.msg('更新成功!',{icon:1,time:1000});
	        	history.go(0);
	        }else{
				layer.msg('更新失败!',{icon: 5,time:1000});
				history.go(0);
	        }
	    });	
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>